<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <style type="text/css">
    td{
      padding-right: 20px;
    }
    .OK{
      color: green;
    }
    .WARNING{
      color: orange;
    }
    .DOWN{
      color: red;
    }
    .message-date{
      font-weight: bold;
      font-size: 90%;
    }
    .message-status{
      font-size: 90%;
    }
  </style>
</head>
<body>
<h2>Service status</h2>
<p>
  <table>
    <tr>
      <th>Server</th>
      <th>Service</th>
      <th>Status</th>
      <th>Last check</th>
      <th>Response time</th>
    </tr>
<%  @content.each do |serverName, services| %>
<%    services.each do |serviceName, serviceData| %>
    <tr>
      <td><%= serverName %></td>
      <td><%= serviceName %></td>
      <td class="<%= serviceData['status'] %>"><%= serviceData['status'] %></td>
      <td><%= (Time.now - serviceData['lastCheck']).floor %> sec ago</td>
      <td><%= serviceData['responseTime'] %> ms</td>
    </tr>
<%    end %>
<%  end %>
  </table>
</p>
<h2>Known issues</h2>
<%  @messages.each do |message| %>
<p>
  <h4><%= message['title'] %></h4>
  <div class="message-date"><%= message['date'] %></div>
  <div class="message-status"><%= message['status'] %></div>
  <div class="message-body"><%= message['body'] %></div>
</p>
<%  end %>
</body>
</html>
